= simple_form_for(@ml_list) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :email
    %p
      L'email doit être une adresse gadz.org ou un des domaines suivants :
      =@evd
    = f.input :description
    = f.input :aliases
    = f.label :diffusion_policy
    = f.select :diffusion_policy, %w(open closed moderated)
    %p Un changement de la politique d'inscription ne supprime pas les membres déjà dans la liste qui n'auraient plus le droit d'y accéder
    = f.label :inscription_policy
    = f.select :inscription_policy, Ml::List.inscription_policy_list
    = f.input :messsage_header
    = f.input :message_footer
    = f.input :is_archived
    = f.input :custom_reply_to
    = f.input :default_message_deny_notification_text
    = f.input :msg_welcome
    = f.input :msg_goodbye
    = f.input :message_max_bytes_size
    %ul
      %li 1048576 => 1 Mb
      %li 3145728 => 3Mb
      %li 10485760 > 10 Mb
      %li 31457280 => 30Mb
    = f.label :group_uuid
    = f.select :group_uuid, [nil, nil] + GramV2Client::Group.all.map{|g| [g.name, g.uuid]}

  .form-actions
    = f.button :submit
