%h1 Listing ml_lists

%table
  %thead
    %tr
      %th Name
      %th Email
      %th Description
      %th Aliases
      %th Diffusion policy
      %th Inscription policy
      %th Is archived
      %th

  %tbody
    - @ml_lists.each do |ml_list|
      %tr
        %td= ml_list.name
        %td= ml_list.email
        %td= ml_list.description
        %td= ml_list.aliases
        %td= ml_list.diffusion_policy
        %td= ml_list.inscription_policy
        %td= ml_list.is_archived
        %td
          =link_to 'Show', ml_list
          =link_to 'Edit', edit_ml_list_path(ml_list)
          =link_to 'Destroy', ml_list, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New List', new_ml_list_path
