= simple_form_for(@user) do |f|
  = f.error_notification

  .form-inputs
    = f.input :email
    = f.input :firstname
    = f.input :lastname
    = f.input :hruid

    =f.label "Role"
    -if can? :update, @user.role
      = f.collection_select(:role_id,@roles , :id, :name, include_blank: true)
    -else
      = @user.role.name
  .form-actions
    = f.button :submit
