%ul
  -if members.count == 0
    %li
      -if @search.present?
        Aucun membre trouvé

  -else
    -members.each do |m|
      %li
        %b=link_to m[1], user_path(m[0])
        %span.red=Ml::ListsUser.roles_list[m[3]].gsub("member","").capitalize
        -if can?( :manage, @ml_list)
          =m[2]
          .fr
            .dropdown
              Rôles
              .dropdown-content.shadow-3
                %div
                  -Ml::ListsUser.roles_list.each do |role_name|
                    %div
                      %a{href: "/ml/lists/#{@ml_list.id}/users/set_role/#{m[0]}?id=#{@ml_list.id}&amp;role=#{role_name}&amp;search=#{@search}", method: :get}
                        =role_name.capitalize
            %a{href: "/ml/lists/#{@ml_list.id}/leave/#{m[0]}?search=#{@search}", method: :get}
              %i.zmdi.zmdi-delete.icon-padding-list
