%p Bonjour,

%p Vous êtes invité(e) à rejoindre la liste de discussion Gadz.org "#{@list.name}"

%p En acceptant cette invitation, vous recevrez les emails envoyés à <b>#{@list.name}</b> sur votre adresse <b>#{@email}</b>. Vous pourrez également échanger avec les autres membre de cette liste en écrivant à <b>#{@list.email}</b>.

.txtcenter.bouton.bouton_bleu
  =link_to "Accepter l'invitation", ml_accept_external_invitation_url(@token.token) ,:class => "bouton bouton_orange_1 txtcenter"

%p
  Si ce lien ne fonctionne pas, copiez l'adresse suivante puis collez-la dans une nouvelle fenêtre de navigateur :
%p=ml_accept_external_invitation_url(@token.token)

%br
%p.small
  Autrement, vous pouvez
  = link_to "décliner cette invitation", ml_decline_external_invitation_url(@token.token)
