= simple_form_for(@postfix_blacklist) do |f|
  = f.error_notification

  .form-inputs
    = f.input :email
    = f.input :reject_text
    = f.input :commentary

  .form-actions
    = f.button :submit
