%p#notice= notice
%h2 Ton compte est presque prêt...

=form_tag('') do
  .row
    .l12.s12.col
      %p
        Il nous manque quelques informations pour finaliser ton compte.

  .row
    .l12.s12.col

      .card
        .card-content
          %p
            Tu peux recevoir les mails envoyés à ton adresse #{@primary_email} sur un compte Google Gadz.org
          .input-field
            =check_box_tag :google_apps, "true", 1
            =label_tag :google_apps,"Je veux un compte Google Gadz.org", :for => "google_apps"


        .card-content
          %p
            Les mails envoyés sur ton adresse
            %b #{@primary_email}
            peuvent être envoyé également sur l'adresse email de ton choix. Cette adresse est également utilisée en cas de problème.
          %div
            .input-field.inline
              =email_field_tag :redirect,nil, :size => 40, :required => 'required', :class=> 'validate'
              =label_tag("redirect", "Mon adresse email", "data-error"=>"Tu dois entrer ton adresse email au format email@domaine.fr", required: true)

        - if @mailing_lists.any?
          .card-content(style="padding-top:0")
            %p Pour tirer un plein parti de tes adresses gadz.org, nous te recommandons de t'inscrire aux trois listes de diffusions suivantes :

            %ul.browser-default
              %li Pour échanger avec tes Promsquets, ta ML de Prom's : <u>#{@mailing_lists[:proms]&.email}</u>
              %li Pour recevoir les infos de ton Tabagn's vers les PGs : <u>#{@mailing_lists[:tabagns]&.email}</u>
              %li Pour recevoir les infos de l'UE vers les PGs : <u>#{@mailing_lists[:info]&.email}</u>

            .input-field
              =check_box_tag :default_mls, "true", 1
              =label_tag :default_mls, "Je veux m'inscrire à ces 3 listes de diffusion", :for => "default_mls"

        .card-action
          =button_tag "Créer mon compte", class:'waves-effect waves-teal btn'

