-#- if user_signed_in?
-#  .menu-item.username>
-#    .menu-item-username
-#      = "#{current_user.firstname}"
-#      .circle
-#        %img{:src => "https://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(current_user.email)}?d=404&s=50",onerror:"this.style.display='none'"}
-#          ="#{current_user.firstname.first.upcase}"
-#    %ul.userblock
-#      .menu-item-drop
-#        =link_to t('layout.menu.profile'), user_path(current_user), class: "menu-a-drop"
-#      .menu-item-drop
-#        =link_to t('layout.menu.disconnect'), destroy_user_session_path, :method => :delete, class: "menu-a-drop"
-#- else
-#  .menu-item.with_button>
-#    = link_to t('layout.menu.connect'), new_user_session_path, :class =>"bouton bouton_bleu"
- if user_signed_in?
  %li
    %a.dropdown-button{"data-activates" => "dropdown1-user-widget", "data-constrainwidth"=>"false", "data-beloworigin"=>"true", :href => "#!"}
      %span
        = "#{current_user.firstname}"
        .circle
          %img{:src => "https://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(current_user.email)}?d=404&s=50",onerror:"this.style.display='none'"}
            ="#{current_user.firstname.first.upcase}"
        %i.zmdi.zmdi-carret-down.material-icons.right

    %ul#dropdown1-user-widget.dropdown-content
      %li
        =link_to user_path(current_user), class: "menu-a-drop" do
          =t('layout.menu.profile')
      %li
        =link_to t('layout.menu.disconnect'), destroy_user_session_path, :method => :delete
-else
  %li
    = link_to t('layout.menu.connect'), new_user_session_path, :class =>"waves-effect waves-light btn"
