%html
  %head
    <meta name="viewport" content="width=device-width, initial-scale=1">
    -# %title= Rails.application.secrets.app_name
    %title= "emails.gadz.org"
    = csrf_meta_tags
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag :application
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}
    -# %link{:href => "/assets/favicon.ico", :rel => "shortcut icon"}/
    = favicon_link_tag asset_path('favicon.ico')/
    -if slack_chat?
      =javascript_include_tag 'slack-chat.min.js'
      =javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js'
      =stylesheet_link_tag "slack-chat.css"
      =stylesheet_link_tag "slack-chat-custom.css"
  %body

    = yield
    = render partial: 'layouts/ga'
